$default-fonts-regular: 'Calibre-Regular', 'Helvetica Neue', 'Arial', sans-serif;
$default-fonts-bold: 'Circular-Bold', 'Helvetica Neue', 'Arial', sans-serif;

$color-if-black: #212121;
$color-if-grey: #E0E3E5;
$color-if-blue: #2341C1;
$color-if-orange: #ff5e23;

$default-spacing: 1em;

@mixin background-button($size) {
  background-size: $size;
  background-position: center center;
  background-repeat: no-repeat;
}

@mixin absolute-center() {
  display:flex;
  justify-content:center;
  align-items:center;
}
