$default-fonts-regular: 'Calibre-Regular', 'Helvetica Neue', 'Arial', sans-serif;
$default-fonts-bold: 'Circular-Bold', 'Helvetica Neue', 'Arial', sans-serif;

$color-dark: #212121;

$default-spacing: 1em;
