header {
  width:100vw;
  height:72px;
  border-bottom:1px solid #f1f0ee;
  background:#FFF;
  margin-bottom: 2em;

  #logo {
    display: block;
    text-indent: -9999px;
    background-image: url('/public/images/if-logo.svg');
    background-repeat: no-repeat;
    background-size: contain;
    margin: 0 auto;
    border-bottom: 0;
    height: 54px;
    width: 40px;
    position: absolute;
    top: 10px;
    left: calc(50% - 20px);
  }

  #title {
    position: absolute;
    text-decoration: none;
    left: 10px;
    top: 28px;
  }
}

#navigation {
  width: 100vw;
  height: 2.5em;
  border-top: #EEE 1px solid;
  position: fixed;
  bottom: 0;
  left: 0;
  background: #FFF;
  display: none;

  #wrapper {
    height: 2.5em;
    width: 100%;
    margin: 0 auto;

    #previous,
    #next,
    #count {
      width: calc(100% / 3);
      float: left;
      height: 2.5em;

      p {
        height: 100%;
        line-height: 2.75em;

        a {
          height: 100%;
          text-decoration: none;
        }
      }
    }

    #previous {
      text-align: left;
    }

    #next {
      text-align: right;
    }

    #count {
      text-align: center;
    }
  }
}

#navigation_mobile {
  width: 100vw;
  height: 2.5em;
  border-top: #EEE 1px solid;
  position: fixed;
  bottom: 0;
  left: 0;
  background: #FFF;
  display: block;

  #wrapper {
    height: 2.5em;
    width: 90%;
    margin: 0 auto;

    #previous,
    #next,
    #count {
      width: calc(100% / 3);
      float: left;
      height: 2.5em;

      p {
        height: 100%;
        line-height: 2.75em;

        a {
          height: 100%;
          text-decoration: none;
        }
      }
    }

    #previous {
      text-align: left;
    }

    #next {
      text-align: right;
    }

    #count {
      text-align: center;
    }
  }
}

#homepage {
  padding-bottom: 2em;

  h1 {
    padding: 0 1em;
    text-align: center;
  }

  h2 {
    padding: 0 0.8em;
  }

  p {
    font-family: $default-fonts-regular;
    padding:0 1em;
    margin-bottom: 1em;
  }

  #contents {
    padding: 1em;
    background: #EEE;
    display: none;

    .item {
      h2 {
        font-size: 1em;
        margin-bottom: 0.5em;
      }

      &:last-child {
        p {
          margin-bottom: 0;
        }
      }
    }
  }

  #call_to_action {
    font-family: $default-fonts-regular;
  }
}

/* Prototype pages */
.prototype_canvas {
  background-color: $color-if-grey;
  color: $color-if-black;
}

.prototype_description {
  padding: 1em;

  p {
    a {
      color: $color-if-grey;
      text-decoration: underline;
      color: $color-if-blue;
    }
  }
}

/* Generic interface items */
.window {
  width: 80vw;
  height: 70vh;
  border: #000 3px solid;
  border-radius: 5px;
}

.window_container {
  overflow: auto;

  .window_title {
    display: none;
  }

  .window_content {

    .header {
      padding: 0.5em;
      text-align: center;

      img {
        height: 2em;
        margin-bottom: 0;
        padding-top: 0.5em;
      }
    }
  }
}

.mobile_container {

  .header {
    border-bottom: #000 1px solid;
    width: 100%;
    text-align: center;
    padding-top: 0.5em;
    padding-bottom: 0.5em;

    h1 {
      font-size: 1em;
      margin-bottom: 0.25em;
    }

    p {
      margin-bottom: 0.25em;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}

.chunky_button {
  background: #FFF;
  color: $color-if-orange !important;
  //border-radius: 5px;
  padding: 0.75em 0.75em 0.45em 0.75em;
  margin-right: 0.25em;
  display: block;
  float: left;
  text-decoration: none;

  &.unselected {
    border: #FFF 2px solid;
    background: none;
    opacity: 0.35;
    color: #FFF !important;
  }
}

/* Prototype nav */
.prototype_header {
  width: 100vw;
  height: 69px;
  background: #FFF;

  .left, .right {
    display: none;
  }

  #logo-light {
    display:block;
    text-indent:-9999px;
    background-image:url('/public/images/if-logo.svg');
    background-repeat:no-repeat;
    background-size:contain;
    margin:0 auto;
    border-bottom:0;
    height:69px;
    width:51.11111px;
    position:absolute;
    top:10px;
    left:calc(50% - 20px);
  }
}

#show_prototype_menu_mobile {
  @include background-button(75% 75%);
  background-image: url('/public/images/icon_menu_light.svg');
  width: 1.5em;
  height: 1.5em;
  position: absolute;
  top: 1em;
  right: 1em;
  text-indent: -9999px;
}

.prototype_menu {
  position: fixed;
  top: 0;
  right: 0;
  background: $color-if-grey;
  width: calc(90vw - 2em);
  height: 100vh;
  color: #FFF;
  display: none;
  overflow-x: scroll;
  padding:1em;
  margin-top: 36px;

  .item {
    margin-bottom: 1em;
    width: calc(100% - 2em);

    a {
      color: #000;
      font-family: $default-fonts-bold;
    }

    p {
      margin-bottom:0.25em;
    }
  }

  #hide_prototype_menu {
    color: #000;
    width: 1.5em;
    height: 1.5em;
    display:block;
    position: fixed;
    top: 1em;
    right: 1em;
    text-indent: -9999px;
    background-image: url('/public/images/icon_close_light.svg');
    @include background-button(75% 75%);
  }
}

.window_container,
.mobile_container {
  h1, h2, h3, p {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 720px) {
  header {
    height: 96px;
  }

  #navigation_mobile {
    width: 100vw;
    height: 2.5em;
    border-top: #EEE 1px solid;
    position: fixed;
    bottom: 0;
    left: 0;
    background: #FFF;
    display: none;

    #wrapper {
      height: 2.5em;
      width: 920px;
      margin: 0 auto;

      #previous,
      #next,
      #count {
        width: calc(100% / 3);
        float: left;
        height: 2.5em;

        p {
          height: 100%;
          line-height: 2.75em;


          a {
            height: 100%;
            text-decoration: none;
          }
        }
      }

      #previous {
        text-align: left;
        padding-left: 1em;
      }

      #next {
        text-align: right;

      }

      #count {
        text-align: center;
      }
    }
  }

  #navigation {
    width: 100vw;
    height: 2.5em;
    border-top: #EEE 1px solid;
    position: fixed;
    bottom: 0;
    left: 0;
    background: #FFF;
    display: block;

    #wrapper {
      height: 2.5em;
      width: 920px;
      margin: 0 auto;

      #previous,
      #next,
      #count {
        width: calc(100% / 3);
        float: left;
        height: 2.5em;

        p {
          height: 100%;
          line-height: 2.75em;


          a {
            height: 100%;
            text-decoration: none;
          }
        }
      }

      #previous {
        text-align: left;
      }

      #next {
        text-align: right;

      }

      #count {
        text-align: center;
      }
    }
  }

  #homepage {
    width: 920px;
    margin: 0 auto;

    h1, h2, p {
      padding: 0;
    }

    #show_contents,
    #call_to_action {
      width: 50%;
      display: block;
      float: left;
    }

    #call_to_action {
      color: $color-if-orange;
      font-family: $default-fonts-regular;
    }
  }

  /* Prototype pages */
  .prototype_canvas {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    margin-bottom: 2em;
  }

  .prototype_description {
    padding: 0;
    width: 920px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2em;

    &.bottom {
      margin-bottom: 4.5em;
    }
  }

  #show_prototype_menu_mobile,
  .mobile_only_item {
    display: none;
  }

  .prototype_header {
    .left, .right {
      display: block;
    }

    a {
      color: #000;
      text-decoration: none;
    }

    .left {
      position:absolute;
      top: 1em;
      left: 1em;

      a {
        margin-right: 1em;
      }
    }

    .right {
      position: absolute;
      top: 1em;
      right: 1em;
    }
  }

  /* Prototype nav */
  .prototype_menu {
    width: 20em;
  }

  /* Generic device containers */
  .window_container {
    width: 920px;
    border: $color-if-black 2px solid;
    border-radius: 5px;
    margin-top: 2em;
    margin-bottom: 2em;

    .window_title {
      height: 1.5em;
      width: 100%;
      border-bottom: $color-if-black 2px solid;
      background-image: url('/public/images/window_container_buttons.svg');
      background-repeat: no-repeat;
      background-position: center left;
      display: block;

      h1 {
        font-family: $default-fonts-regular;
        text-align: center;
        font-size: 1em;
        line-height: 1.8em;
      }
    }
  }

  .mobile_container {
    width: 18em;
    height: 34em;
    margin-top: 2em;
    margin-bottom: 2em;
    background-size: contain;
    background-repeat: no-repeat;
    border: #000 2px solid;
    border-radius: 35px;
    background-color: #FFF;
    @include absolute-center();

    .mobile_content {
      width: 16em;
      height: 28em;
      border: #000 2px solid;
      background-color: $color-if-grey;
      //overflow-x: scroll;
    }
  }
}

.section {
  margin-bottom: 1em;
  padding: 0.5em 1em 0em 1em;

  &:last-child {
    margin-bottom: 0;
  }

  a {
    color: $color-if-black;
  }

  h1 {
    margin-bottom: 1em;
  }

  h2 {
    font-size: 1em;
    margin-bottom: 1em;
  }

  p {
    margin-bottom: 0.5em;

    &.bold {
      font-family: $default-fonts-bold;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  span {
    &.underline {
      border-bottom: #FFF 1px solid;
    }
  }

  img {
    width: 100%;
  }

  ul {
    &:last-child {
      margin-bottom: 0;
    }
  }
}

.option {
  overflow: auto;
  margin-bottom: 1em;

  h3 {
    margin-bottom: 0.25em;
  }

  &:last-child {
    margin-bottom: 0;
  }

  a {
    display: block;
    float: left;
    width: calc(50% - 4px);
    height: 2em;
    line-height: 2.2em;
    text-align: center;
    color: #FFF;
    text-decoration: none;
    border: #FFF 2px solid;

    &:first-of-type {
      border-right: #FFF 1px solid;
    }

    &:last-child {
      border-left: #FFF 1px solid;
    }

    &.selected {
      background: #FFF;
      color: $color-if-orange;
    }
  }
}
