/* Prototype pages */
.prototype_canvas {
  min-height: 90vh;
  background-color: $color-if-blue;
  color: #FFF;
}

.prototype_description {
  min-height: 10vh;
  background-color: $color-if-grey;
  color: #FFF;
}

/* Generic interface items */
.vertical_list {
  width: 100%;

  input {
    display: block;
    width: calc(100% - 1em);
    background: none;
    border: 0;
    border-top: rgba(255, 255, 255, 0.8) 1px solid;
    font-family: $default-fonts-regular;
    font-size: 1em;
    padding: 0.5em;
    color: #FFF;

    &:last-child {
      border-bottom: rgba(255, 255, 255, 0.8) 1px solid;
    }
  }
}

.window {
  width: 80vw;
  height: 70vh;
  border: #FFF 3px solid;
  border-radius: 5px;
}

/* Prototype nav */
.prototype_nav {
  height: 2em;
  background: $color-if-grey;

  .back,
  .menu {
    color: #FFF;
    display: block;
    height: 2em;
    width: 2em;
    text-indent: -9999px;
    background-size: 70% 70%;
    background-position: center center;
    background-repeat: no-repeat;
  }

  .back {
    background-image: url('/public/images/icon_back_light.svg');
  }

  .menu {
    background-image: url('/public/images/icon_menu_light.svg');
    position: absolute;
    right: 0;
    top: 0;
  }
}

.prototype_menu {
  position: fixed;
  top: 0;
  right: 0;
  background: $color-if-grey;
  width: 90vw;
  height: 100vh;
  color: #FFF;
  display:none;

  a {
    color: #FFF;
  }

  #hide_prototype_menu {
    color: #FFF;
    width: 2em;
    height: 2em;
    display:block;
    position: fixed;
    top: 0;
    right: 0;
    text-indent: -9999px;
    background-image: url('/public/images/icon_close_light.svg');
    @include background-button(75% 75%);
  }
}

@media screen and (min-width: 720px) {
  /* Prototype pages */
  .prototype_canvas {
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }

  .prototype_description {
    min-height: 20vh;
  }

  .window_container {
    width: 30vw;
    border: #FFF 2px solid;
    height: 70vh;
    border-radius: 5px;
  }

  /* Generic interface items */
  .vertical_list {
    input {
      font-size: 1.2em;
    }
  }

  /* Prototype nav */
  .prototype_nav {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    background: none;
  }

  .prototype_menu {
    width: 20em;
  }
}
