header {
  width:100vw;
  height:72px;
  border-bottom:1px solid #f1f0ee;
  background:#FFF;
  margin-bottom: 2em;

  #logo {
    display:block;
    text-indent:-9999px;
    background-image:url('/public/images/if-logo.svg');
    background-repeat:no-repeat;
    background-size:contain;
    margin:0 auto;
    border-bottom:0;
    height:54px;
    width:40px;
    position:absolute;
    top:10px;
    left:calc(50% - 20px);
  }
}

#navigation {
  width: 100vw;
  height: 2.5em;
  border-top: #EEE 1px solid;
  position: fixed;
  bottom: 0;
  left: 0;
  background: #FFF;

  #wrapper {
    height: 2.5em;
    padding-left: 20vw;
    padding-right: 20vw;

    #previous,
    #next,
    #count {
      width: calc(100% / 3);
      float: left;
      height: 2.5em;

      p {
        height: 100%;
        line-height: 2.75em;

        a {
          height: 100%;
        }
      }
    }

    #previous {
      text-align: left;
    }

    #next {
      text-align: right;
    }

    #count {
      text-align: center;
    }
  }
}

#homepage {
  padding-bottom: 2em;

  h1 {
    padding:0 1em;
    text-align: center;
  }

  p {
    font-family: $default-fonts-regular;
    padding:0 1em;
    margin-bottom: 1em;
  }

  #contents {
    clear: left;
    border-top: #f1f0ee 1px solid;
    padding-top: 1.5em;

    .item {
      h2 {
        font-size: 1em;
        margin-bottom: 0.5em;
      }
    }
  }

  #call_to_action {
    font-family: $default-fonts-bold;
    border: $color-if-grey 2px solid;
    text-decoration: none;
    padding: 0.5em 0.5em 0.4em 0.5em;
    display: block;
    float:left;
    margin-bottom: 2em;
  }
}

/* Prototype pages */
.prototype_canvas {
  background-color: #212121;
  color: #FFF;
}

.prototype_description {
  min-height: 20vh;
  background-color: #FFF;
  color: #000;
  padding-left: 1em;
  padding-right: 1em;
  padding-bottom: 1em;
  padding-top: 2em;

  p {
    line-height: 1.2em;

    a {
      color: $color-if-grey;
      text-decoration: underline;
      color: $color-if-orange;
    }
  }
}

/* Generic interface items */
.window {
  width: 80vw;
  height: 70vh;
  border: #FFF 3px solid;
  border-radius: 5px;
}

.window_container {
  overflow: auto;

  .window_title {
    display: none;
  }

  .window_content {
    .header {
      padding: 0.5em;
      border-bottom: #FFF 1px solid;
      text-align: center;

      img {
        height: 2em;
        margin-bottom: 0;
        padding-top: 0.5em;
      }
    }
  }
}

.mobile_container {
  .header {
    border-bottom: #FFF 1px solid;
    width: 100%;
    text-align: center;
    padding-top: 0.5em;
    padding-bottom: 0.5em;

    h1 {
      font-size: 1em;
      margin-bottom: 0.25em;
    }

    p {
      margin-bottom: 0.25em;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}

.chunky_button {
  background: #FFF;
  color: $color-if-orange !important;
  padding: 0.75em 0.75em 0.45em 0.75em;
  margin-right: 0.25em;
  margin-bottom: 0.25em;
  display: block;
  float: left;
  text-decoration: none;

  &.unselected {
    border: #FFF 2px solid;
    background: none;
    opacity: 0.35;
    color: #FFF !important;
  }
}

/* Prototype nav */
.prototype_header {
  width: 100vw;
  height: 69px;
  background: #FFF;

  .left, .right {
    display: none;
  }

  #logo-light {
    display:block;
    text-indent:-9999px;
    background-image:url('/public/images/if-logo.svg');
    background-repeat:no-repeat;
    background-size:contain;
    margin:0 auto;
    border-bottom:0;
    height:69px;
    width:51.11111px;
    position:absolute;
    top:10px;
    left:calc(50% - 20px);
  }
}

#show_prototype_menu_mobile {
  @include background-button(75% 75%);
  background-image: url('/public/images/icon_menu_light.svg');
  width: 1.5em;
  height: 1.5em;
  position: absolute;
  top: 1em;
  right: 1em;
  text-indent: -9999px;
}

.prototype_menu {
  position: fixed;
  top: 0;
  right: 0;
  background: $color-if-grey;
  width: calc(90vw - 2em);
  height: 100vh;
  color: #FFF;
  display: none;
  overflow-x: scroll;
  padding:1em;
  margin-top: 36px;

  .item {
    margin-bottom: 1em;
    width: calc(100% - 2em);

    a {
      color: #FFF;
      font-family: $default-fonts-bold;
    }

    p {
      margin-bottom:0.25em;
    }
  }

  #hide_prototype_menu {
    color: #FFF;
    width: 1.5em;
    height: 1.5em;
    display:block;
    position: fixed;
    top: 1em;
    right: 1em;
    text-indent: -9999px;
    background-image: url('/public/images/icon_close_light.svg');
    @include background-button(75% 75%);
  }
}

.window_container,
.mobile_container {
  h1, h2, h3, p {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 720px) {
  #homepage {
    margin: 0 20vw;

    h1 {
      font-size: 3em;
      padding: 0;
    }

    p {
      font-size: 1em;
      padding: 0;
    }

    #intro {
      h2, p {
        line-height: 1.2em;
      }

      p {
        font-size: 1.2em;
      }
    }
  }

  /* Prototype pages */
  .prototype_canvas {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }

  .prototype_description {
    min-height: 20vh;
    padding-left: 20vw;
    padding-right: 20vw;
    padding-bottom: 1em;
  }

  #show_prototype_menu_mobile,
  .mobile_only_item {
    display: none;
  }

  .prototype_header {
    .left, .right {
      display: block;
    }

    a {
      color: #000;
      text-decoration: none;
    }

    .left {
      position:absolute;
      top: 1em;
      left: 1em;

      a {
        margin-right: 1em;
      }
    }

    .right {
      position: absolute;
      top: 1em;
      right: 1em;
    }
  }

  /* Prototype nav */
  .prototype_menu {
    width: 20em;
  }

  /* Generic device containers */
  .window_container {
    width: 42em;
    border: #FFF 2px solid;
    border-radius: 5px;
    margin-top: 2em;
    margin-bottom: 2em;

    .window_title {
      height: 1.5em;
      width: 100%;
      border-bottom: #FFF 2px solid;
      background-image: url('/public/images/window_container_buttons.svg');
      background-repeat: no-repeat;
      background-position: center left;
      display: block;

      h1 {
        font-family: $default-fonts-regular;
        text-align: center;
        font-size: 1em;
        line-height: 1.8em;
      }
    }
  }

  .mobile_container {
    width: 18em;
    height: 34em;
    margin-top: 2em;
    margin-bottom: 2em;
    background-size: contain;
    background-repeat: no-repeat;
    border: #FFF 2px solid;
    border-radius: 35px;
    @include absolute-center();

    .mobile_content {
      width: 16em;
      height: 28em;
      border: #FFF 2px solid;
      overflow-x: scroll;
    }
  }
}
