/* Shopping list */
.retailer_results {
  padding:0.5em;
  border-bottom:#FFF 1px solid;

  .name,
  .total_cost,
  .button_fill_basket {
    margin-bottom: 0.25em;
  }

  .name {
    margin-bottom: 0.5em;
  }

  .total_cost {
    font-size:1.4em;
  }

  .button_fill_basket {
    color: #FFF;
  }
}

/* Activity log */
.activity_log_receipt,
.activity_log_timeline {
  color: #222;
  background: #FFF;
  padding: 1em;
  margin: 0 1em 1em 1em;

  h1 {
    border-bottom: #000 2px solid;
    display: inline-block;
    margin-bottom: 1em;
  }

  h2 {

  }

  p {
    &.timestamp {
      margin-bottom:0.25em;
      color: #999;
    }
  }
}

.activity_log_receipt {

}

.activity_log_timeline {

}

@media screen and (min-width: 720px) {
  /* Shopping list */
  .retailer_results {
    padding-top:0.5em;
    width: calc(33.333% - 1em);
    border-bottom: none;
    float:left;
  }

  /* Activity log */
  .activity_log_receipt,
  .activity_log_timeline {
    width: 20vw;
  }
}
