/* Shopping list */
.retailer_results {
  padding:0.5em;
  border-bottom:#FFF 1px solid;

  .name,
  .total_cost,
  .button_fill_basket {
    margin-bottom: 0.25em;
  }

  .name {
    margin-bottom: 0.5em;
  }

  .total_cost {
    font-size:1.4em;
  }

  .button_fill_basket {
    color: #FFF;
  }
}

/* Digital blinds */
#digital_blinds {
  position: relative;

  .header {
    width: calc(100% - 1em);
    border-bottom: #FFF 2px solid;
    overflow: auto;
    padding: 0.5em;

    img, p {
      float:left;
    }

    img {
      height: 2em;
      margin-right: 0.75em;
    }

    p {
      font-family: $default-fonts-bold;
      font-size: 1.2em;
      margin-top: 0.4em;
    }
  }

  .content {
    .section {
      border-bottom: rgba(255, 255, 255, 0.4) 1px solid;
      padding: 0.5em;

      input[type='radio'] {
        margin-right: 1em;
      }
    }
  }

  .footer {
    #save_settings {
      display: block;
      color: #FFF;
      width: calc(100% - 1em);
      border-top: #FFF 2px solid;
      padding: 0.5em;
      text-decoration: none;
      text-align: center;
      position: absolute;
      bottom: 0;
    }
  }
}


@media screen and (min-width: 720px) {
  /* Shopping list */
  .retailer_results {
    padding-top:0.5em;
    width: calc(33.333% - 1em);
    border-bottom: none;
    float:left;
  }
}
