body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 19px;
  line-height: 1.4;
  font-family: $default-fonts-regular;
  color: $color-if-black;
}

a {
  color: $color-if-black;
}

h1 {
  font-size: 36px;
  font-family: $default-fonts-bold;
  margin-bottom: $default-spacing;
}

h2 {
  font-size: 1.2em;
  font-family: $default-fonts-bold;
  margin-bottom: $default-spacing;
}

p {
  margin-bottom: $default-spacing;

  &:last-child {
    margin-bottom: 0;
  }
}

ul {
  list-style-type: disc;
  margin-bottom: $default-spacing;

  li {
    margin-left: $default-spacing;
    margin-bottom: 0.15em;
  }
}

.bold {
  font-family: $font-family-bold;
}

@media screen and (min-width: 720px) {
  body {
    font-size: 22px;
  }

  h1 {
    font-size: 45px;
  }
}
