doctype html
html(lang="en")
  head
    title #{page.title} &bull; #{config.site_name}
    meta(name="viewport" charset="utf-8" content="width=device-width" initial-scale="1.0")
    meta(name="description" content="#{config.site_description}")
    meta(property="og:url" content="")
    meta(property="og:title" content="")
    meta(property="og:description" content="")
    meta(property="og:image" content="")
    script(type="text/javascript" src="/public/js/moment.min.js")
    script(type="text/javascript" src="/public/js/chart.min.js")
    script(type="text/javascript" src="/public/js/jquery.js")
    script(type="text/javascript" src="/public/js/jquery-ui.js")
    script(type="text/javascript" src="/public/js/app.js")
    script(type="text/javascript" src="/public/js/prototypes/#{page.permalink}.js")
    link(rel="icon" id="favicon" href="")
    link(rel="apple-touch-icon-precomposed" href="")
    link(type="text/css" rel="stylesheet" href="/public/css/app.css")
  body
    div(class="prototype_canvas")
      != renderTemplate(page.permalink)
