p I’m educated as an anthropologist. I know how to do desk research and regularly spend my free time finding out about things online. I know how to work with designers and developers and have done lots of joint projects with them. I set deadlines for all the work that I do, and I make sure not to do more work than is needed. I know how to do ethical research.
