p I led the research on a project to understand the needs of London City bus drivers. Initially I researched by riding along side several bus drivers on their routes. My team and I then came up with a hypothesis and designed research tools to test it. It was important for the drivers not to be discriminated, so we took a pool of drivers with different ages, genders and races; spoke with each of them to about research consent and then anonymised their details. 

p Another project I led was based on supporting communication within a health service. My initial research was based at my desk, looking into existing service provision. Later, after spending time with the health service and users, my team and I developed a digital data storage tool, which was designed and developed iteratively.
