div(id="activity_log")
  div(id="header" class="section")
    div(id="logo")
    h1 Thanks
    p We've received some documents
  div(id="property" class="section")
    img(src="/public/images/easyrent_building.jpg")
    h2 38 Alexandra Grove
    p £1,500 per month
  div(id="latest" class="section")
    h2 Latest
    a(href="#") More activity
    p Screenshots viewed by A. Smith
    p(class="timestamp") 32 minutes ago
  div(id="summary" class="section")
    h2 Summary
    h3 1.
    p You have sent screenshots showing #[span(class="underline") 3 months worth of bank transactions] to #[span(class="underline") EasyRent Ltd.]
    h3 2.
    p They need this to #[span(class="underline") check if you can afford rent payments].
    h3 3.
    p It will only be accessible by the #[span(class="underline") accounts department].
    h3 4.
    p You screenshots will be kept #[span(class="underline") until the affordability check has been completed]. This usually takes 48 hours. They will then be deleted.
