div(class="cv_thumbnails")
  p(style="text-align:center;") Tap a CV to zoom in
  div(class="container")
    div
      div(class="cv_thumbnail")
        a(href="#")
      div(class="cv_thumbnail")
        a(href="#")
      div(class="cv_thumbnail")
        a(href="#")

div(class="cv_modal")
  div(class="cv_single")
    p this is a cv
  a(href="#" id="close_cv") Close
