div(class="mobile_container")
  div(id="dynamic_data_minimisation" class="mobile_content")
    div(class="header")
      h1 Your trip to Brighton
      p August 12 – August 19
    div(id="map")
    div(class="section minimisation")
      p(class="decision_text") Would you like to remove detailed location data from your recent trip to Brighton?
      p(class="preference_text")
        a(href="#" id="list_click_yes" class="chunky_button") Yes
        a(href="#" id="list_click_no" class="chunky_button") No
