div(id="digital_blinds" class="window_container")
  div(class="header")
    img(src="/public/images/wifi_symbol.svg")
    p Router settings ›
  div(class="content" style="overflow-x: scroll; height:56vh;")    
    div(class="section")
      h2 Street-level photography
      p
        input(type="radio" id="show_my_building" name="street_photo")
        label(for="show_my_building") Show my building
      p(style="margin-left: 1.5em") Retake photos every #[select(name="retake_street_photos") #[option every 6 months] #[option every year] #[option every 2 years]]
      p
        input(type="radio" id="hide_my_building" name="street_photo")
        label(for="hide_my_building") Hide my building
    
    div(class="section")
      h2 Aerial photography
      p
        input(type="radio" id="show_my_building_aerial" name="aerial_photo")
        label(for="show_my_building_aerial") Show my building
      p(style="margin-left: 1.5em") Capture #[select(name="aerial_quality") #[option high] #[option medium] #[option low]] quality photos
      p(style="margin-left: 1.5em") Retake photos every #[select(name="retake_aerial_photos") #[option every 6 months] #[option every year] #[option every 2 years]]
      p
        input(type="radio" id="hide_my_building_aerial" name="aerial_photo")
        label(for="hide_my_building_aerial") Hide my building
    div(class="section")
      h2 Wi-Fi name
      p
        input(type="radio" id="allow_wifi_name" name="wifi_name")
        label(for="allow_wifi_name") Allow access to my Wi-Fi name
      p
        input(type="radio" id="hide_wifi_name" name="wifi_name")
        label(for="hide_wifi_name") Hide my Wi-Fi name
  div(class="footer")
    a(href="#" id="save_settings") Save
