div(id="electricity_usage_window" class="window_container")
    h1 Electricity usage in the Smith's household

    div(class="content")
      div(class="section")
        p Allow the archiving of detailed historic energy usage data?
        p
          input(type="radio" id="energy_appear" name="energy_data")
          label(for="no_minimise_my_data") Yes
        p
          input(type="radio" id="energy_disappear" name="energy_data")
          label(for="minimise_my_data") No

      div(class="section")
        img(id="energy_blank" src="/public/images/box.svg")
        img(id="energy_no" src="/public/images/energy_n.svg")
        img(id="energy_yes" src="/public/images/energy_y.svg")

      a(href="#" id="button_save") Save

div(id="electricity_usage_window_confirmation" class="window_container")
  p Confirmed
