div(class="window_container")
  div(class="window_title")
  div(id="property_privacy_control" class="window_content")
    div(id="blinds_one" class="screen")
      div(class="preview_area")
      div(class="config_area")
        h2 Can street level photos of your property be taken?
        div(id="blinds_one_selector" class="selector option")
          a(class="chunky_button" href="#") Yes
          a(class="chunky_button" href="#") No
        div
          a(href="#" class="next chunky_button") Next
    div(id="blinds_two" class="screen")
      div(class="preview_area")
      div(class="config_area")
        h2 Can satellite photos of your property be taken?
        div(id="blinds_two_selector" class="selector option")
          a(id="yes_final" class="chunky_button" href="#") Yes
          a(id="no_final" class="chunky_button" href="#") No
        div
          p(class="saved_settings") Your settings have been saved
        div
          a(id="save_button" href="#" class="next_save chunky_button") Save
