div(class="window_container")
  div(class="window_title")
    img(src="/public/images/window_container_privacy.svg")
  div(id="property_privacy_control" class="window_content")
    div(class="section")
      h2 Wi-Fi set up
      p Home privacy settings for 47 Drysdale road
      img(src="/public/images/house.jpg")
      
    
    div(class="section")
      div
        input(type="checkbox" text="Allow everyone to store images of your house?") 
        span(style="margin-left: 1em;") Allow images to be taken of your house and used for research purposes
      div  
        input(type="checkbox" checked="checked" text="Allow everyone to store images of your house?") 
        span(style="margin-left: 1em;") Allow images to be taken of your house and used by the local council
      div
        input(type="checkbox" hecked="checked" text="Allow everyone to store images of your house?") 
        span(style="margin-left: 1em;") Allow images to be taken of your house and used for any purpose
      div
        input(type="checkbox" hecked="checked" text="Allow everyone to store images of your house?") 
        span(style="margin-left: 1em;") Do not allow any images of your house to be used for any purpose
              
    div(class="section")
      a(style="width: 7em;" class="chunky_button_dead" href"") Preview
      a(style="width: 7em;" class="chunky_button_dead" href"") Save
