div(class="window_container")
  div(class="window_title")
  div(id="property_privacy_control" class="window_content")
    div(class="section")
      h2 Wi-Fi set up
      p Home privacy settings for 47 Drysdale road
      img(src="/public/images/house.jpg")
    
    div(class="section")
      p Allow everyone to store images of your house?
      p Allow non-profits to store images of your house?
      p Allow governments to store images of your house?
        
    div(class="section")
      a(style="width: 7em;" class="chunky_button_dead" href"") Preview
      a(style="width: 7em;" class="chunky_button_dead" href"") Save
