div(class="ad_container")
  div(class="ad")
    div(id="allow_ad_confirmation" class="confirmation")
      div
        img(src="/public/images/icon_tick_light.svg")
        p Thank you for your feedback
    div(id="deny_ad_confirmation" class="confirmation")
      div
        img(src="/public/images/icon_tick_light.svg")
        p You won't see more ads that are relevant to this insight
    a(href="#" id="show_permissions_dialog") Show permissions dialog

div(class="permissions_dialog")
  a(href="#" class="hide") Hide permissions dialog
  div(class="ad_thumbnail")
  p You are seeing this advert because we think that ....
  p We think this because:
  ul
    li This reason
    li this reason
    li this reason
    li this reason
  p If you disagree ...
  p
    a(href="#" id="allow_ad") Continue using this insight
  p
    a(href="#" id="deny_ad") Stop using this insight
