extends ../prototype.jade

block content
  div(class="window_container")
    div(class="window_title")
      img(src="/images/window_container_quickshop.svg")
    div(id="shopping_import" class="window_content portable_shopping_list")
      div(class="section")
        img(src="/images/shopping_header_head.svg")
        h2 Import your shopping list from another grocer
        p Quickly populate your shopping basket by pulling in your shopping list from another supermarket.
        p You've chosen to import your favourite shopping list from QuickShop.
      div(class="section")
        a(id="import_shopping" class="chunky_button" href="#") Import your shopping list

    div(id="shopping_list" class="window_content portable_shopping_list")
      div(class="section")
        img(src="/images/shopping_header.svg")
        //h2(style="") Your shopping list has been imported

        div(class="shopping")
          div
            img(src="/images/shopping_button.svg")
            p Spaghetti (1kg)
            p(class="cost") £1.00
          div
            img(src="/images/shopping_button.svg")
            p Pasatta sauce
            p(class="cost") £0.50
          div
            img(src="/images/shopping_button.svg")
            p Garlic clove
            p(class="cost") £0.30
          div
            img(src="/images/shopping_button.svg")
            p Chopped tomatoes
            p(class="cost") £0.35
          div
            img(src="/images/shopping_button.svg")
            p Carrots (700g)
            p(class="cost") £1.00
          div
            img(src="/images/shopping_button.svg")
            p Mushrooms (300g)
            p(class="cost") £0.90
          div
            img(src="/images/shopping_button.svg")
            p Oregano
            p(class="cost") £0.70

      div(class="section")
        p(style="text-align: right; padding-right: 2em;") Items 7
        p(style="text-align: right; padding-right: 2em;") Price to pay £4.75
        a(class="chunky_button_dead") Shopping
        a(class="chunky_button_dead") Checkout
