div(class="window_container")
  div(class="window_title")
    h1 Tesco Online
  div(id="portable_shopping_list" class="window_content")
    div(class="header")
      img(src="/public/images/shopping_trolley.svg")
    div(id="list_view" class="section")
      p Hi Sally. Here is your shopping basket from last time.
      div(id="top_list")
        input(type="text")
        input(type="text")
        input(type="text")
        input(type="text")
        input(id="list" type="text")
        input(type="text")
        input(type="text")
        input(type="text")
        input(type="text")
        input(type="text")
        input(type="text")
      div(id="results")
        h2 Your basket has the following calorie count
        div(id="results_tesco" class="retailer_results")
          p Tesco
          p(class="total_cost") 0 kcal
          a(href="#" class="button_fill_basket") Checkout
        div(id="results_asda" class="retailer_results")
          p Asda
          p(class="total_cost") 0 kcal
          a(href="#" class="button_fill_basket") Checkout
        div(id="results_morrisons" class="retailer_results")
          p Morrisons
          p(class="total_cost") 0 kcal
          a(href="#" class="button_fill_basket") Checkout
    div(id="confirm_view" class="section")
      p Basket filled.
