div(id="shopping_list" class="window_container")
  div(class="header")
    h2 Import your favourite items from Tesco
    a(href="#" id="favourites") Get your data
    //img(src="/public/images/shopping_trolley.svg")
  div(id="shopping_list" class="vertical_list")
  div(class="top_list" id="top_list")
    input(type="text")
    input(type="text")
    input(type="text")
    input(type="text")
    input(type="text")
    input(type="text")
  div
    h2(class="compare_prices") Compare prices
  div(id="results_tesco" class="retailer_results")
    p(class="name") Tesco
    p(class="total_cost") £0.00
    a(href="#" class="button_fill_basket") Fill basket
  div(id="results_asda" class="retailer_results")
    p(class="name") Asda
    p(class="total_cost") £0.00
    a(href="#" class="button_fill_basket") Fill basket
  div(id="results_morrisons" class="retailer_results")
    p(class="name") Morrisons
    p(class="total_cost") £0.00
    a(href="#" class="button_fill_basket") Fill basket
