div(id="shopping_list" class="window_container")
  div(class="header")
    // img(src="/public/images/wifi_symbol.svg")
    h1 Shopping list 
    a(href="#" id="favourites") Import favourites
  div(id="shopping_list" class="vertical_list")
  div(id="top_list")
    input(type="text")
    input(type="text")
    input(type="text")
    input(type="text")
    input(type="text")
    input(type="text")
    input(type="text")
    input(type="text")
  div(id="results_tesco" class="retailer_results")
    p(class="name") Tesco
    p(class="total_cost") £0.00
    a(href="#" class="button_fill_basket") Fill basket
  div(id="results_asda" class="retailer_results")
    p(class="name") Asda
    p(class="total_cost") £0.00
    a(href="#" class="button_fill_basket") Fill basket
  div(id="results_morrisons" class="retailer_results")
    p(class="name") Morrisons
    p(class="total_cost") £0.00
    a(href="#" class="button_fill_basket") Fill basket
