div(class="window_container")
  div(class="window_title")
  div(id="portable_shopping_list" class="window_content")
    div(class="header")
      img(src="/public/images/tesco_logo.svg")
    div(id="list_view" class="section")
      p Your shopping basket
      div(id="top_list")
        input(type="text")
        input(type="text")
        input(type="text")
        input(type="text")
        input(type="text")
        input(type="text")
        input(type="text" placeholder="Add item...")
        input(type="text")
        input(type="text")
        input(type="text")
      div(id="results")
        h1 Select your provider
        div(id="results_tesco" class="retailer_results")
          h2 Tesco
          p(class="total_cost") £0.00
          p Delivey tomorrow
          a(href="" class="button_fill_basket") Checkout
        div(id="results_asda" class="retailer_results")
          h2 Asda
          p(class="total_cost") £0.00
          p Delivery today
          a(href="#" class="button_fill_basket") Checkout
        div(id="results_morrisons" class="retailer_results")
          h2 Morrisons
          p(class="total_cost") £0.00
          p Delivery tomorrow
          a(href="#" class="button_fill_basket") Checkout
      div(id="checkout")
        h1 Checkout updated
