div(class="window_container")
  div(class="window_title")
  div(id="shopping_import" class="window_content portable_shopping_list")
    div(class="header")
      img(src="/public/images/tesco_logo.svg")
    div(class="section")
      p Introduction of the process here
      p Introduction of the process here
      p Introduction of the process here
      p Introduction of the process here
      a(id="import_shopping" class="chunky_button" href="#") Import your shopping list from Morrisons
      
  div(id="shopping_list" class="window_content portable_shopping_list")
    div(class="header")
      img(src="/public/images/tesco_logo.svg")
    div(class="section")
      div(class="shopping")
        input(type="text")
        input(type="text")
      div(class="results")
        h2 Checkout
