div(class="window_container")
  div(class="window_title")
    h1 Home Broadband Setup
  div(id="property_privacy_control" class="window_content")
    div(class="header")
      img(src="/public/images/wifi_symbol.svg")
      p Property Privacy Control
    div(id="blinds_one" class="screen")
      div(class="preview_area")
      div(class="config_area")
        h2 Can street level photos of your property be taken?
        div(id="blinds_one_selector" class="selector")
          a(href="#" class="selected") Yes
          a(href="#") No
        p(class="description") Organisations like Google and Uber regularly take photos of properties in your neighbourhood from street level. You have the right to object to photographs being taken of your home. 
        a(href="#" class="next") Next
    div(id="blinds_two" class="screen")
      div(class="preview_area")
      div(class="config_area")
        h2 Can satellite photos of your property be taken?
        div(id="blinds_two_selector" class="selector")
          a(href="#" class="selected") Yes
          a(href="#") No
        p(class="description") Organisations like Google and Uber regularly take photos of properties in your neighbourhood from space. You have the right to object to photographs being taken of your home. 
        a(href="#" class="next") Next
    div(id="blinds_three" class="screen")
      p Settings saved
