div(class="window_container")
  div
  div(id="public_guardian" class="window_content")
    div(class="header")
      img(src="/public/images/public_guardian_logo.svg")
    div(class="section")
      div(class="address")
        p Department of Death,
        p 142 Victoria Place,
        p London,
        p W14 0RP
      div(class="personal_info")
        h2 Name: 
          span(style="font-size: 18px; font-weight: regular;") James Reeves
        h2 Date: 26 October, 2016
        h2 Your ref: AERT98645383
      hr(style="margin-bottom: 1.5em;")
      p On event of my death, I (the undersigned), wish to transfer access to my digital identities (accounts listed below).
      p The transfer of these accounts should take place using the protocols established by the Office of the Digital Public Guardian.
      h2 Please transfer the following accounts
      ul
        li
          p Twitter
        li
          p Instagram
        li
          p Pinterest
        li
          p Government Gateway
        li
          p Digidentity
      h2 Please transfer the following accounts after deleting private messages
      ul
        li
          p Facebook
      h2 Please place the following accounts in archive mode
      ul
        li
          p imgur
      h2 Please delete the following accounts, with no records kept
      ul
        li
          p Tinder
        li
          p Amazon.co.uk
        li
          p Amazon.com
        li
          p Spotify
        li
          p Pornhub
        li
          p Experian

      p The full details of transfer will be completed through the Office of the Digital Public Guardian upon verification of my death.
      hr(style="margin-top: 1em;")  
      
    div(class="section")
      img(class="qr_code" src="/public/images/qrcode.svg")
      h2 Signed,
      img(class="signature" src="/public/images/signature.png")
      hr
            
    div(style="padding-bottom: 2em; padding-top: 1em; font-size: 18px; text-align: center;" class="section") 
      p DPG, Victoria Place, London, W14 E02
