div(class="window_container")
  div(class="window_title")
    h1 Your digital will
  div(id="public_guardian" class="window_content")
    div(class="header")
      img(src="/public/images/public_guardian_logo.svg")
    div(class="section")
      p On event of my death, I (the undersigned), wish to transfer access to my digital identities (accounts listed below).
      p The transfer of these accounts should take place using the protocols established by the Office of the Digital Public Guardian.
      h2 Please transfer the following accounts unchanged
      ul
        li
          p Twitter
        li
          p Instagram
        li
          p Pinterest
        li
          p Government Gateway
        li
          p Digidentity
      h2 Please transfer the following accounts after deleting private messages
      ul
        li
          p Facebook
      h2 Please place the following accounts in archive mode
      ul
        li
          p imgur
      h2 Please delete the following accounts, with no records kept
      ul
        li
          p Tinder
        li
          p Amazon.co.uk
        li
          p Amazon.com
        li
          p Spotify
        li
          p Pornhub
        li
          p Experian
      p The full details of transfer will be completed through the Office of the Digital Public Guardian upon verification of my death.
      p Signed,
      p James Reeves
