div(class="window_container")
  div
  div(id="public_guardian" class="window_content")
    div(class="header")
      img(src="/public/images/public_guardian_logo.svg")
    div(class="section")
      div(class="address")
        p 143 Sarto Lane,
        p Shepherds Bush, 
        p W12 5JE,
        p London
      div(class="personal_info")
        p 26 October 2016
        p James Reeves
        p Your ref AERT98645383
      hr
      p On event of my death, I James Reeves (the undersigned), wish to transfer access to my digital identities (accounts listed below).
      p The transfer of these accounts should take place using the protocols established by the Office of the Digital Public Guardian.
      h2 Please transfer the following accounts
      ul
        li
          p Twitter
        li
          p Instagram
        li
          p Pinterest
        li
          p Government Gateway
        li
          p Digidentity
      h2 Transfer the following accounts after deleting private messages
      ul
        li
          p Facebook
      h2 Place the following accounts in archive mode
      ul
        li
          p imgur
      h2 Delete the following accounts, with no records kept
      ul
        li
          p Tinder
        li
          p Amazon.co.uk
        li
          p Amazon.com
        li
          p Spotify
        li
          p Pornhub
        li
          p Experian

      p The full details of transfer will be completed through the Office of the Digital Public Guardian upon verification of my death.
      hr 
      
    div(class="section")
      img(class="qr_code" src="/public/images/qrcode.svg")
      h2 Signed,
      img(class="signature" src="/public/images/signature.png")
      p James Reeves
      p Signed 20 October 2016
      hr
            
    div(class="section footer_address") 
      p Office of the Digital Public Guardian
      p 142 Victoria Place, London, W14 0RP
