div(class="window_container")
  div(id="shopping_list" class="vertical_list")
    input(type="text" placeholder="Add item...")
    input(type="text")
    input(type="text")
    input(type="text")
    input(type="text")
    input(type="text")
    input(type="text")
    input(type="text")
  div(id="results_tesco" class="retailer_results")
    p(class="name") Tesco
    p(class="total_cost") £12.00
    a(href="#" class="button_fill_basket") Fill basket
  div(id="results_tesco" class="retailer_results")
    p(class="name") Asda
    p(class="total_cost") £12.00
    a(href="#" class="button_fill_basket") Fill basket
  div(id="results_tesco" class="retailer_results")
    p(class="name") Morrisons
    p(class="total_cost") £12.00
    a(href="#" class="button_fill_basket") Fill basket
