div(class="mobile_container")
  div(class="mobile_content")
  
    div(class="hide_journey")
      div(id="journey_planner")
        div(class="section")
          h2 Journey
          div(class="journey_plan_section")
            p(class="label") A
            input(type="text" value="Sheffield" disabled="disabled")
          div(class="journey_plan_section")
            p(class="label") B
            input(type="text" value="Manchester" disabled="disabled")
          div(class="journey_get_route") 
            a(class="chunky_button" id="get_route" href="#") Get route

      
    div(class="hide_route")
      div(id="journey_planner")
        div(class="section")
          h2 Best route
          img(style="width: 1em; float: left; margin-right: 2em;" src="/public/images/journey.svg")
          p
            span(id="route_identifier") —
          p
            span(id="route_distance") —
          p
            span(id="route_time") —
        div(class="section")
          h2 Insurance quote
          p(id="quote_amount") —
        div(class="section") 
          p Do you want to query this quote?   
          a(style="color: #000;" class="chunky_button" href="#" id="quote_yes") Yes
            
    div(class="hide_options")
      div(id="journey_planner")
        div(class="section")
          h2 Options
          div(id="road_type" class="option")
            h3 Road type
            a(href="#" class="selected") Minor roads
            a(href="#") Major roads
          div(id="passengers" class="option")
            h3 Passengers
            a(href="#" class="selected") Driver only
            a(href="#") + Passengers
        div(class="section")
          h2 Rate
          p(id="quote_amount_2") —
        div(class="section")
          a(class="chunky_button" href="#" id="quote_accept") Accept
        
    div(class="hide_quote")
      div(id="journey_planner")
        div(class="section")
          h2 Final quote  
          p(id="quote_amount_3") —
          a(class="chunky_button" id="concern_button" href="#") Report a concern
          a(class="chunky_button" id="reported_button" href="#") Thank you
