div(class="mobile_container")
  div(class="mobile_content")
  
    div(class="hide_journey")
      div(id="journey_planner")
        div(class="section")
          h2 Travelling from Herongate to Southend-on-Sea
          div(class="journey_plan_section")
          ul
            li
              p
                span Leaving at 3:30 pm
            li  
              p
                span Arriving at 4:10 pm
                
        div(class="section")
          img(src="/public/images/map_directions.svg")
          
        div(class="section")
          h2 Insure your journey
          a(class="mobile_chunky_button" id="get_route" href="#") Get a quote
      
    div(class="hide_route")
      div(id="journey_planner")
        div(class="section")
          h2 Your insurance quote
          p Ref: 20910833h
          h2(class="quote") £26.50
          p This is insured with QuickCover
          P and is valid for 
            span(id="countdown") 00:00
            span  min(s)
          a(class="mobile_chunky_button" href="#" id="quote_yes") Query this quote
          a(class="mobile_chunky_button_dead") Buy
            
    div(class="hide_options")
      div(id="journey_planner")
        div(class="section")
          h2 Your quote of £26.50 is due to the following...
          ul
            li
              p It’s predicted to rain during your journey - the cause of 45% of weather related accidents.
            li
              p You will be travelling on the higher risk A13 and A127 for 72% of your journey.
            li
              p The NHTSA reports that most accidents occur during 3-6pm.
              
        div(class="section")
          a(class="mobile_chunky_button_dead") Object
          a(class="mobile_chunky_button_dead") Buy
        
