div(class="mobile_container")
  div(class="mobile_content")
  
    div(class="hide_journey")
      div(id="journey_planner")
        div(class="section")
          h2 Your trip
          div(class="journey_plan_section")
          ul
            li
              p
                span SE17 2HP
            li
              p
                span Leaving now
            li  
              p
                span Arrive 10:15
                
        div(class="section")
          img(src="/public/images/map_directions.svg")
          
        div(class="section")
          h2 Insure your journey
          a(class="chunky_button" id="get_route") Get a quote
      
    div(class="hide_route")
      div(id="journey_planner")
        div(class="section")
          h2 Your insurance quote
          p Ref: 20910833h
          h2(class="quote") £26.50
          p with QuickCover
          P valid for 30:00 minutes
          a(class="chunky_button" href="#" id="quote_yes") Query this quote
          a(class="chunky_button_dead") Buy
            
    div(class="hide_options")
      div(id="journey_planner")
        div(class="section")
          h2 Your quote of £26.50 is due to the following...
          ul
            li
              p It's been raining and the roads are wet. Wet roads increase crashes by 30%
            li
              p Your have chosen to travel at a time when the roads are busier. Are the likelihood of being involved in a crash are increased.
            li
              p The route you are driving has fast traffic.

        div(class="section")
          a(class="chunky_button_dead") Object
          a(class="chunky_button_dead") Buy
        
