div(class="window_container")
  div(class="window_title")
    h1 Facebook
  div(id="transparent_targetting" class="window_content")
    div(class="feed")
      div(class="fake_sample_container top")
      div(class="feed_item_container")
        div(class="sample_container")
          p Sponsored advert
            span
            a(href="#" id="show_permissions_dialog") Why this?
          div(class="feed_item_sample")
        div(class="permissions_container")
          p You are seeing this advert because we think you might be interested in buying a car, because;
          ul
            li You liked an image with a car in it 
            li You searched for Audi A6
            li You recently made a purchase at a petrol station
            li Your home address is 5 miles away from your work address
          div
            p
              a(href="#" id="deny_ad" class="chunky_button") Disallow
            p
              a(href="#" id="allow_ad" class="chunky_button") Allow
        div(class="deny_ad_container")
          p You won't see more ads like this.
      div(class="fake_sample_container bottom")
