.email_header {
  border-bottom: #FFF 1px solid;
  padding: 0.5em;
  overflow: auto;

  p {
    margin-bottom: 0.25em;
    clear: both;
    overflow: auto;

    .label, .value {
      float: left;
    }

    .label {
      width: 4em;
      display: block;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }
}

#activity_log {
  #header {
    img {
      width: 4em;
      margin-bottom: 0.5em;
    }
  }

  #latest {
    .action {
      font-size: 1.5em;
    }
  }

  #summary {
    h3 {
      margin-bottom: 0.25em;
      font-family: $default-fonts-bold;
    }

    p {
      margin-bottom: 1em;
      line-height: 1.3;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  /* Generic stuff */
  .section {
    padding: 0.5em;
    border-bottom: #FFF 1px solid;

    &:last-child {
      border-bottom: 0;
    }

    h2 {
      font-size: 1em;
      margin-bottom: 1em;
    }

    p {
      margin-bottom: 0.5em;

      &.bold {
        font-family: $default-fonts-bold;
      }

      &:last-child {
        margin-bottom: 0;
      }
    }

    span {
      &.underline {
        border-bottom: #FFF 1px solid;
      }
    }

    img {
      width: 100%;
      margin-bottom:0.5em;
    }
  }
}

@media screen and (min-width: 720px) {
  #activity_log {
    width: 25em;
    margin: 2em auto;
    border: #FFF 2px solid;
    border-radius: 4px;
  }
}
