.underline {
  border-bottom: #FFF 1px solid;
}

#activity_log {
  .section {
    padding: 0.5em;
    border-bottom: #FFF 1px solid;
    width: calc(100vw - 1em);
  }

  #header {
    #logo {
      width: 4em;
      height: 4em;
      background-image: url('/public/images/easyrent_logo.svg');
      background-position: center center;
      background-repeat: no-repeat;
      background-size: contain;
    }

    h1 {

    }
  }

  #property {
    img {
      width: calc(100% - 1em);
      margin-bottom: 0.25em;
    }

    h2 {
      margin-bottom: 0.5em;
      font-size: 1em;
    }

  }
}


@media screen and (min-width: 720px) {

}
