#journey_planner {
  margin-bottom: 1em;
  
  .section {
    border-bottom: #FFF 1px solid;
    padding: 1em;
  }

  .journey_plan_section {
    overflow: auto;
    width: 100vw;
    margin-bottom: 0.5em;

    &:last-child {
      margin-bottom: 0;
    }

    .label {
      width: 1.5em;
      height: 1.5em;
      border-radius: 1.55em;
      text-align: center;
      line-height: 1.8em;
      border: #FFF 2px solid;
      float: left;
      margin-right: 0.5em;
      margin-bottom: 0;
    }

    input {
      float: left;
      width: calc(100vw - 5em);
      height: 1.5em;
      border: 0;
      border-bottom: #FFF 2px solid;
      background: none;
      color: #FFF;
      font-family: $default-fonts-regular;
      font-size: 18px;
      padding: 0;
      padding-top: 0.3em;
    }
  }

  .option {
    overflow: auto;
    margin-bottom: 1em;

    h3 {
      margin-bottom: 0.25em;
    }

    &:last-child {
      margin-bottom: 0;
    }

    a {
      display: block;
      float: left;
      width: calc(50% - 4px);
      height: 2em;
      line-height: 2.2em;
      text-align: center;
      color: #FFF;
      text-decoration: none;
      border: #FFF 2px solid;

      &:first-of-type {
        border-right: #FFF 1px solid;
      }

      &:last-child {
        border-left: #FFF 1px solid;
      }

      &.selected {
        background: #FFF;
        color: $color-if-blue;
      }
    }
  }

  #route_distance {
    margin-right: 0.5em;
  }

  #quote_amount {
    font-size: 1.4em;
  }

  a {
    color: #FFF;
  }
}
