#dynamic_data_minimisation {
  overflow: auto;

  #map {
    width: 100%;
    background-image: url('/public/images/brighton-unfiltered.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: 13em;
    border-bottom: #FFF 1px solid;
  }

  .minimisation {
    height: 8.2em;
    padding: 0.5em 0.5em 0em 0.5em;
    background-color: #FFF;

    p {
      text-align: justify;
      padding: 0.5em 0.5em 0em 0.5em;
    }
  }

  #list_click_save,
  #list_click_saved {
    display: none;
  }
}
