#electricity_usage_window_confirmation {
  display: none;
}

#electricity_usage_window {
  position: relative;

  #button_save {
    color: #FFF;
    text-decoration: none;
    text-align: center;
    border-top: #FFF 2px solid;
    display: block;
    width: calc(100% - 1em);
    padding:0.5em;
    padding-left: -1em;
    position: absolute;
    bottom: 0;
  }

  img {
    max-width:100%;
    padding-top: 0.5em;
    align: center;
  }

  h1{
    padding: 0.5em 0.5em 0em 0.5em;
  }

  p{
    padding: 0em 1em 0em 0.5em;
  }

}

#energy_no {
  display: none;
}

#energy_yes {
  display: none;
}

@media screen and (min-width: 720px) {

}
