#dynamic_data_minimisation {
  #map {
    width: 100%;
    background-image: url('/public/images/brighton-unfiltered.png');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: 15em;
    border-bottom: #FFF 1px solid;
  }

  #list_click_save
   {
    display: none;
  }

  #list_click_saved
   {
    display: none;
  }

}
