#dynamic_data_minimisation {
  #map {
    width: 100%;
    background-image: url('/public/images/brighton-unfiltered.png');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: 20em;
    border-bottom: #FFF 1px solid;
  }

  .brighton_no {
    display: none;
  }

  .location {
    border-bottom: #FFF 1px solid;
    padding: 0.5em 0;

    &:last-child {
      border-bottom: 0;
      padding-bottom: 0;
    }

    p {
      margin-bottom: 0.25em;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}
