#property_privacy_control {
  .header {
    padding: 0.5em;
    border-bottom: #FFF 2px solid;
    overflow: auto;
    padding: 0.5em;

    img, p {
      float:left;
    }

    img {
      height: 2em;
      margin-right: 0.75em;
    }

    p {
      font-family: $default-fonts-bold;
      font-size: 1.2em;
      margin-top: 0.4em;
    }
  }

  .screen {
    .preview_area {
      height: 21.5em;
      background-size: cover;
      background-position: center center;
      background-repeat: no-repeat;
    }

    .config_area {
      height: 7em;
      padding: 0.5em 0.5em 0.5em 0.5em;

      .description {
        width: 60%;
        font-size: 0.8em;
        float: left;
      }

      .next {
        float: right !important;
      }

      .saved {
        display:none;
        color:#FFF;
      }

      .selector {
        overflow: auto;
      }

      h2 {
        margin-bottom: 1em;
      }
    }
  }

  #blinds_one {
    .preview_area {
      background-image: url('/public/images/house.jpg');
    }
  }

  #blinds_two {
    .preview_area {
      background-image: url('/public/images/aerial.jpg');
    }
  }

  #blinds_two,
  #blinds_three {
    display: none;
  }

  #blinds_three {
    height: 26em;
    @include absolute-center();
    display: none;
  }

  .saved {
    display: none;
  }
}
