.portable_shopping_list {
  .section {
    border-bottom: 0;
    overflow: auto;
  }

  .shopping {
    border: #000 2px solid;
    border-radius: 4px;
    margin-bottom: 2em;

    input {
      width: calc(100% - 1em);
      display: block;
      background: none;
      border: 0;
      border-top: rgba(255, 255, 255, 0.8) 1px solid;
      font-family: $default-fonts-regular;
      font-size: 1em;
      padding: 0.5em;
      color: #000;

      &:first-child {
        border-top: 0;
      }

      &:last-child {
        border-bottom: 0;
      }
    }
  }

  .results {
    margin-bottom: 1em;

    .retailer_results {
      overflow: auto;

      .total_cost {
        margin-bottom: 0.1em;
        font-size: 1.6em;
      }

      .delivery_time {
        margin-bottom: 1.25em;
      }

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}

@media screen and (min-width: 720px) {
  .portable_shopping_list {
    .section {
      width: 25em;
      margin: 2em auto;
    }

    .results {
      .retailer_results {
        margin-bottom: 0;
        width: 33.333%;
        float: left;
      }
    }
  }
}

#shopping_list {
  display: none;
}
