.portable_shopping_list {
  .section {
    border-bottom: 0;
    overflow: auto;
    padding-bottom: 2em;
  }

  #top_list {
    border: #000 1px solid;
    border-radius: 4px;

    p {
      width: calc(100% - 1em);
      display: block;
      background: none;
      border: 0;
      border-top: #000 1px solid;
      font-family: $default-fonts-regular;
      font-size: 1em;
      padding: 0.5em;
      color: #000;
      margin-bottom: 0em;
      text-align: justify;

      &:first-child {
        border-top: 0;
      }

      &:last-child {
        border-bottom: 0;
      }

      span {
        float: right;
        margin-right: 1em;
      }
    }
  }

  .results {
    margin-bottom: 1em;

    h2 {
      margin-top: 1em;
      margin-bottom: 1em;
    }

    span {
      float: right;
      margin-right: 1em;
    }

    .retailer_results {
      overflow: auto;

      .total_cost {
        margin-bottom: 0.1em;
        font-size: 1.6em;
      }

      .delivery_time {
        margin-bottom: 1.25em;
      }

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}

@media screen and (min-width: 720px) {
  .portable_shopping_list {
    .section {
      width: 25em;
      margin: 2em auto;
    }

    .results {
      .retailer_results {
        margin-bottom: 0;
        width: 33.333%;
        float: left;
      }
    }
  }
}

#shopping_list {
  display: none;
}

#shopping_accept {
  display:none;
}
