#public_guardian {
  .header {
    img {
      padding-top: 0;
      height: 6em;
    }
  }

  img {
    padding-top: 0;
    width: 9em;
    margin-bottom: 1em;
  }
}

@media screen and (min-width: 720px) {
  #public_guardian {
    .section {
      width: 25em;
      margin: 0em auto;
    }
  }
}
