#journey_planner {

  overflow: auto;
  margin-bottom: 1em;

  .journey_plan_section {
    overflow: auto;
    width: 100%;
    margin-bottom: 0.5em;

    &:last-child {
      margin-bottom: 0;
    }

    .label {
      width: 1.5em;
      height: 1.5em;
      border-radius: 1.55em;
      text-align: center;
      line-height: 1.8em;
      border: #000 2px solid;
      float: left;
      margin-right: 0.5em;
      margin-bottom: 0;
    }

    input {
      float: left;
      width: calc(100% - 2.5em);
      height: 1.5em;
      border: 0;
      border-bottom: #FFF 2px solid;
      background: none;
      color: #000;
      font-family: $default-fonts-regular;
      font-size: 18px;
      padding: 0;
      padding-top: 0.3em;
    }
  }

  .button {
    background: #FFF;
    color: #000;
    display: block;
    width: 100%;
    padding-top: 0.45em;
    padding-bottom: 0.2em;
    margin-top: 1.5em;
    text-align: center;
    text-decoration: none;
  }

  #route_distance {
    margin-right: 0.5em;
  }

  #quote_amount {
    font-size: 1.4em;
  }
}

.hide_route,
.hide_options,
.hide_quote {
    display: none;
    overflow: auto;
}

.hide_journey {
    overflow: auto;
}

#reported_button {
  display:none;
}

.button {
  background: #FFF;
  color: #000;
  display: block;
  width: 100%;
  padding-top: 0.45em;
  padding-bottom: 0.2em;
  margin-top: 1em;
  text-align: center;
  text-decoration: none;
}
